.App {
  width: 70%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

form {
  width: 60%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2rem;
}

form label {
  font-weight: 700;
}

.form-group {
  text-align: left;
}

input::placeholder {
  font-size: 14px;
}

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.card {
  margin-bottom: 3rem;
}

.card img {
  height: 250px;
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.badge-danger {
  font-size: 1.25rem;
  width: 4rem;
  height: 2rem;
}

.card-body {
  text-align: left;
}

.card-price {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-title {
  color: #0064ff;
}

.close {
  font-size: 2.5rem;
}

.close:hover {
  transform: scale(1.1);
}

.close:focus {
  outline: none;
}
